.hideFirstColTable table th:first-child,
.hideFirstColTable table td:first-child {
  display: none !important;
}

.container {
  width: 50%; /* Make it 50% of the screen */
  margin: 0 auto; /* Center it */
}

.full-width {
  width: 100%;
}

.full-width-layout {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
}

lightning-datatable thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

lightning-datatable ::part(cell).sticky-action {
  position: sticky;
  right: 0;
  background-color: white;
  z-index: 2;
}
.custom-datatable .slds-table th:first-child,
.custom-datatable .slds-table td:first-child {
  position: sticky;
  left: 0;
  background: #f3f3f3;
  z-index: 2;
}

.custom-datatable .slds-table th:last-child,
.custom-datatable .slds-table td:last-child {
  position: sticky;
  right: 0;
  background: #f3f3f3;
  z-index: 2;
}